body{
    background: rgb(5, 236, 206); 
    color: rgb(17, 16, 16); 
    font-family: Calibri; 
    font-size: 14px; 
    font-weight: light;}

p{
background-color: rgb(14, 137, 238);
color: rgb(238, 239, 245);
font-family: Calibri;
font-size: 14px; 
font-weight: light; }
